<html ng-app="missbehua">

<head>
  <title>壁花小姐訂貨</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#373a3e">
  <link rel="stylesheet" href="lib/stylesheets/project.css">
  <link rel="stylesheet" href="main.css">
</head>

<body>

  <nav class="navbar navbar-dark navbar-full bg-inverse">
    <a href='/home' class="navbar-brand">
    Home
  </a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
      <ul class="nav navbar-nav pull-xs-right" ng-if="isLoggedIn">
        <li class="nav-item">
          <a href="/products" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">Control Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-log-out" ng-click="signOut()">Log out</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div ng-view></div>
  </div>

  <script src="lib/scripts/angular.min.js"></script>
  <script src="lib/scripts/angular-route.min.js"></script>
  <script src="lib/scripts/jquery.min.js"></script>
  <script src="lib/scripts/firebase.js"></script>
  <script src="lib/scripts/angularfire.min.js"></script>
  <script src="lib/scripts/tether.min.js"></script>
  <script src="lib/scripts/bootstrap.min.js"></script>
  <script src="lib/scripts/Intl.min.js"></script>
  <script src="lib/scripts/en.js"></script>
  <script src="lib/scripts/zh.js"></script>

  <script src="main.js"></script>
  <script src="home/HomeController.js"></script>
  <script src="product-list/ProductListController.js"></script>
  <script src="cart/CartController.js"></script>
  <script src="login-signup/LoginSignUpController.js"></script>

  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAtg9DN-9LGVviKZUPCoEaJdLDviEh0sP4",
      authDomain: "missbehuafirebaseproject.firebaseapp.com",
      databaseURL: "https://missbehuafirebaseproject.firebaseio.com",
      storageBucket: "missbehuafirebaseproject.appspot.com",
    };
    firebase.initializeApp(config);
  </script>

</body>

</html>
