<div class="login-signup">
  <form class="login-form">
    <fieldset class="form-group">
      <label for="loginInput">帳號</label>
      <input type="email" class="form-control" id="formGroupdLoginUsername" placeholder="您的帳號" ng-model="userInfo.email">
    </fieldset>
    <fieldset>
      <label for="loginInput">密碼</label>
      <input type="password" class="form-control" id="formGroupdLoginPassword" placeholder="您的密碼" ng-model="userInfo.password">
    </fieldset>
    <button type="submit" class="btn btn-primary login-button" ng-click="login()">登入</button>
    <!-- <button class="btn btn-primary login-button" ng-click="signup()">注冊</button> -->
  </form>
  <div class="alert alert-warning login-alert" role="alert" ng-if="errorString">
    <strong>Error!</strong> <span ng-bind="errorString"></span>
  </div>
</div>
