<div class="review-order-container">
  <button class="btn btn-primary" ng-click="onSubmitClicked()">Review Order</button>
</div>
<div class="product-list" ng-repeat="productCategory in productsArray">
  <h1 ng-bind="productCategory.name"></h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="product in productCategory.products | orderBy:'+name'">
      <div class="card">
        <img ng-src="{{product.path}}" alt="" class="card-img-top">
        <!--<div product-image imagepath="{{product.path}}"></div>-->
        <div class="card-block">
          <p class="card-text" ng-bind="product.name"></p>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group form-group" ng-class="{'has-danger': product.error, 'has-success': !product.error && isProductAddedToCart(product)}">
                <input type="text" class="form-control" placeholder="How many" ng-model="product.amount" ng-class="{'form-control-danger': product.error, 'form-control-success': !product.error && isProductAddedToCart(product)}" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-xs-center">
              <button type="button" class="btn btn-danger" ng-click="removeFromCart(product)" ng-if="isProductAddedToCart(product)">
                移除
              </button>
              <button type="button" class="btn btn-primary" ng-click="addToCart(product)" ng-if="!isProductAddedToCart(product)">
                訂購
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
