<div class="cart-view">
  <h1>Review Cart</h1>
  <table class="table table-inverse">
    <thead>
      <tr>
        <th>物品</th>
        <th>數量</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in cartItemsArray">
        <th scope="row"><span ng-bind="item.name"></span></th>
        <td><span ng-bind="item.amount"></span></td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" ng-click="onSubmitOrderClicked()" ng-disabled="isCartEmpty">Submit Order</button>
</div>
